@media only screen and (max-width: 1260px){
    header{
        padding: 15px;
    }
    .we_use{
        padding: 15px;
    }
    .second_banner{
        padding: 15px;
    }
    footer{
        padding: 15px;
    }
    .what_we_do .d_flex_container{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .what_we_do article:first-of-type{
        margin-bottom: 12px}
}
@media only screen and (max-width: 1060px){
    .we_use .information{max-width: 140px;
    }
    .we_use .information h4{
        font-size:10px;
    }
    .we_use .information h3{
        font-size: 25px;
    }
    header nav ul li a{
        font-size: 10px;
    }
}
@media only screen and (max-width: 850px){
}
footer ul li a{
    font-size: 11px;
}
.second_banner .ph_brands a{
    margin: 10px;
}
@media only screen and (max-width: 826px){
    .nav-but-wrap{
        display: inline-block;}
    .nav {
        position: fixed;
        z-index: 98;
        top: 0;
        left: 0;
    }
    .nav__content {
        position: fixed;
        visibility: hidden;
        top: 50%;
        margin-top: 20px;
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
        width: 100%;
        text-align: center;}
    .nav__list-item {
        position: relative;
        display: block;
        -webkit-transition-delay: 0.8s;
        transition-delay: 0.8s;
        opacity: 1;
        text-align: center;
        color: #fff;
        overflow: hidden;
        font-family: 'Montserrat', sans-serif;
        font-size: 8vh;
        font-weight: 900;
        line-height: 1.15;
        letter-spacing: 3px;
        -webkit-transform: translate(100px, 0%);
        transform: translate(100px, 0%);
        -webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
        transition: opacity .2s ease, -webkit-transform .3s ease;
        transition: opacity .2s ease, transform .3s ease;
        transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
        margin-top: 0;
        margin-bottom: 0;
    }
    .nav__list {
        position: relative;
        padding: 0;
        margin: 0;
        z-index: 2;
    }
    .nav__list-item a{
        position: relative;
        text-decoration: none;
        color: rgba(255,255,255,0.6);
        overflow: hidden;
        cursor: pointer;
        padding-left: 5px;
        padding-right: 5px;
        font-weight: 900;
        z-index: 2;
        display: inline-block;
        text-transform: uppercase;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }
    header nav ul{
        display: inherit;
    }
    .nav__list-item a:after{
        position: absolute;
        content: '';
        top: 50%;
        margin-top: -2px;
        left: 50%;
        width: 0;
        height: 0;
        opacity: 0;
        background-color: #8167a9;
        z-index: 1;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }
    .nav__list-item a:hover:after{
        height: 4px;
        opacity: 1;
        left: 0;
        width: 100%;}
    .nav__list-item a:hover{
        color: rgba(255,255,255,1);
    }
    .nav__list-item.active-nav a{
        color: rgba(255,255,255,1);
    }
    .nav__list-item.active-nav a:after{
        height: 4px;
        opacity: 1;
        left: 0;
        width: 100%;
    }


}
@media only screen and (max-width: 776px){
    .second_banner{
        height: 50%;
    }
    .second_banner .ph_brands{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;}


    @media only screen and (max-width: 728px){
        header nav li:first-of-type a{
            font-size:11px;
        }
        header nav li:last-of-type a{
            color:#000000;
            background: #FFFFFF;
            border-radius: 8px;
            padding: 2px 10px 2px 3px;
            font-size: 9px;
            position: relative;
            right: 2px;
        }
        header nav ul {display: inline-block}
    }


    @media only screen and (max-width: 724px){
        .main_banner .container{
            padding: 0 7px;
        }
        .third_banner .container{
            padding: 0 7px;
        }
        .forth_banner .container{
            padding: 0 7px;}
        .fifth_banner .container{
            padding: 0 7px;
        }
        .sixth_banner .container{
            padding: 0 7px;}
        .forma{
            max-width: 250px;
        }
        footer .first_chept{
            flex-wrap: wrap;
        }
        footer .logo_cont p{
            font-size: 9px;
            margin-bottom: 20px;
        }
        .main_banner{
            background-position: center center;
            background-repeat: no-repeat;
        }
        .forth_banner{
            background-position: center center;
            background-repeat: no-repeat;
        }
        .sixth_banner{
            background-position: center center;
            background-repeat: no-repeat;
        }}
    @media only screen and (max-width: 478px){
        .forma{
            height: 26px;
            max-width:229px;
            margin-left: 5px;
        }
        .forma form{
            padding-top:5px;
            padding-right: 3px;
            padding-bottom: 5px;
        }
        .text{
            width: 135px;
        }
        .button{
            width:28px;
            max-width: 28px;
            height:15px;
        }
        .position_items li{
            font-size: 9px;
        }
        .we_use .position_items{
            display: none;
        }
    }}