*{
    padding: 0;
    margin: 0;
}
header{
    background-color: #181818;
    padding: 24px 0;
}
.container{
    max-width: 1200px;
    margin: auto;
}
header nav ul{
    display: flex;
    list-style: none;
    align-items:center;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
header nav li{
    margin-left: 32px;
    transition: 0.4s;
}
header nav li:hover{
    transform:scale(1.2);
}
header nav li:first-of-type a{
    font-size: 13px;
}
header nav li:first-of-type{
    margin-right: 24px;
}
header nav li:last-of-type a{
    color:#000000;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 20px;
}
/*main banner*/
.main_banner{
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom:71px;
    box-sizing: border-box;
    position: relative;
}
.main_banner .container{
    max-width:580px;
    text-align: center;
    margin: inherit;
}
.main_banner .container h4{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 1px;
}
.main_banner .container h1{
    font-family: 'Poppins', sans-serif;
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;
    margin-bottom: 18px;
}
.main_banner .container p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
/*second banner*/
.second_banner{
    padding-top:113px;
    padding-bottom:140px;
    background-color:#000000;
}
.second_banner .block{
    max-width:1200px;
    text-align: center;
    margin: auto;
    margin-bottom:111px;
}
.second_banner .block h3{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom:15px;
}
.second_banner .block p{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;

}
.second_banner .ph_brands{
    max-width: 1168px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ph_brands a{
    max-width: 128px;
    display: inline-block;
}
.ph_brands .owl-stage{
    display: flex;
    margin: auto;
    align-items: center;
}
.owl-carousel .owl-item{
    padding: 0px 0px 0px 50px;
}
/*third banner*/
.third_banner{
    padding-top:113px;
    padding-bottom:108px;
    background-color:#000000;
}
.third_banner .container{
    max-width:571px;
    margin: auto;
    text-align: center;
}
.third_banner .container h2{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom:15px;
}
.third_banner .container p{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    margin-bottom: 31px;
}
.third_banner .get_in_touch{
    background: #FFFFFF;
    border-radius: 14px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    text-decoration: none;
    padding: 5px 10px 5px 5px;
    display: inline-flex;
    align-items: center}
.get_in_touch:before{
    display: inline-block;
    content:"";
    width: 32px;
    height: 32px;
    background-color: #000000;
    border-radius:50%;
    margin-right:6px;
}
.what_we_do{
    padding-top: 112px;
    padding-bottom: 100px;
    background-color:#000000;
}
.what_we_do .container{
    max-width: 1168px;
}
.what_we_do h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.what_we_do h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom:42px;
}
.d_flex_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.what_we_do .d_flex_container article{
    max-width: 576px;
    position: relative;

}
.what_we_do .d_flex_container img{
    display: block;
    width: 100%;
}
.what_we_do .d_flex_container article .description{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 30px 45px 30px 30px;
    box-sizing: border-box;
}
.what_we_do .description h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.what_we_do .description p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 20px;
}
.what_we_do .get_in_touch{
    background: #FFFFFF;
    border-radius: 14px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    text-decoration: none;
    padding: 5px 10px 5px 5px;
    display: inline-flex;
    align-items: center}
.what_we_do .d_flex_container article .description_part2{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 30px 32px 30px 30px;
    box-sizing: border-box;}
.what_we_do .description_part2 h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.what_we_do .description_part2 p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom:20px;
}
.drone{
    margin-top: 16px;
}
.what_we_do .d_flex_container article .description_part3{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 30px 32px 30px 30px;
    box-sizing: border-box;
}
.what_we_do .description_part3 h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.what_we_do .description_part3 p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 17px;
}
.wild{
    margin-top: 16px;
}
.what_we_do .d_flex_container article .description_part4{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 30px 32px 30px 30px;
    box-sizing: border-box;}
.what_we_do .description_part4 h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.what_we_do .description_part4 p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 17px;
}
/*forth_banner*/
.forth_banner{
    background-image: url("../images/background.jpg");
    height: 600px;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}
.forth_banner .container{
    max-width:298px;
    margin-right:62px;
}
.forth_banner .container h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.forth_banner .container p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

/*fifth_baner*/
.fifth_banner{
    background-image: url("../images/leaves.jpg");
    height: 600px;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}
.fifth_banner .container{
    max-width: 273px;
    margin-right:87px;
}
.fifth_banner .container h4{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.fifth_banner .container p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
/*sixth_banner*/
.sixth_banner{
    background-image: url("../images/mountains.jpg");
    height: 600px;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}
.sixth_banner .container{
    max-width: 254px;
    margin-right:106px;
}
.sixth_banner .container h4{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.sixth_banner .container p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
footer{
    background-color:#000000;
    padding: 100px 0;
}
.container{
    max-width:1168px;
    margin: auto;
}
footer .first_chept{
    display: flex;
    justify-content: space-between;

}
footer .container .first_chept .logo_cont p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
    margin-top: 20px;
}
.logo_cont{
    margin-right:270px;
}
footer div ul{
    list-style: none;

}
footer div li{
    margin-bottom: 10px;
}
.list2{
    margin-right: 102px;
    margin-bottom: 36px;
}
footer div a{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
.another{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
.second_chept{
    display: flex;
    justify-content: space-between;
    padding:36px 0;
    border-top: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}
.second_chept .subscribe h4{
    font-family: 'Poppins' ,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.second_chept .subscribe p{
    font-family: 'Poppins',sans-serif ;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
}
.forma{
    background-color: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    height: 52px;
    max-width:458px;
}
.forma form{
    padding-top:11px;
    padding-right: 6px;
    padding-bottom: 11px;
}
.field{
    display:flex;
}
.text{
    width: 389px;
    border: none;
    background-color: transparent;
}
.button{
    width:63px;
    background-color: #000000;
    max-width: 63px;
    height:30px;
    border-radius:11px;
}

.third_chept{
    padding: 56px 0px
}
.aperture_photography p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.third_chept ul {
    display: flex;
    align-items: center;
    list-style: none;
}
.third_chept .aperture_photography{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.third_chept .aperture_photography a{
    margin-right: 10px;
    margin-left: 10px;
}
.position_items{
    position: absolute;
    right: 40px;
    bottom: 40px;
    display: flex;
    list-style: none;
}
.position_items li{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 16px;
}
.position_items li:before{
    content:"";
    display: inline-block;
    background-image: url("../images/Combined-Shape.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    bottom: -5px;
}
.position_items li:nth-child(2):before{
    background-image: url("../images/Combined-Shape1.svg");
}
.position_items li:nth-child(3):before{
    background-image: url("../images/Combined-Shape2.svg");
    width: 32px;
}
.position_items li:nth-child(4):before{
    background-image: url("../images/Fill-1.svg");
    width: 10px;
}
.we_use{
    background-color: black;
    position: relative;
}
.we_use .container{
    max-width: 1240px;
    min-height: 540px;
    display: flex;
    align-items: center;
}
.we_use .information{
    max-width:514px;
}
.we_use .information h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom:6px;
}
.we_use .information h3{font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 14px;
}
.we_use .information p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.we_use .banner_we_use{
    background-image: url("../images/banner_we_use.jpg");
    background-size: cover;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
}
.we_use .get_in_touch{background: #FFFFFF;
    border-radius: 14px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    text-decoration: none;
    padding: 5px 10px 5px 5px;
    display: inline-flex;
    align-items: center}
.ph_brands .owl-nav .owl-prev{
    position: absolute;
    left: -50px;
    top: 36px;
}
.ph_brands .owl-nav .owl-prev:after{
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    content: "\f053";
    color: white;
    display: inline-block;
    font-size: 40px;
}
.ph_brands .owl-nav .owl-next{
    position: absolute;
    right:  -50px;
    top: 36px;
}
.ph_brands .owl-nav .owl-next:after{
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    content: "\f054";
    color: white;
    display: inline-block;
    font-size: 40px;}

.ui-dialog-titlebar{
    background-color: black;
    color: #FFFFFF;
    border-radius: 9px;
}
.ui-dialog{
    width: 100% !important;
    max-width: 280px !important;
    border-radius: 20px;
    padding: 0px;
}
#ui-id-1{
    display: flex;
    justify-content: center;
}
.ui-widget{
    font-family: 'Poppins', sans-serif;
}
.ui-widget-header{
    border: none;
}
.ui-dialog .ui-dialog-title{
    position: relative;
    left: 10px;
}
.ui-button{
    background-color: black;
}
.ui-button span{
    color: #FFFFFF;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    border: none;
}
.ui-icon-closethick{
    background-color: black;
    color: #FFFFFF;
}
.ui-widget.ui-widget-content{
    border: none;
}
form{
    margin: auto;
}
.name{
    display: none;
}
.name_prop{
    font-size: 12px;
    padding: 10px 20px;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #D3D3D3;
    border-radius: 7px;
    font-family: 'Poppins', sans-serif!important;
    margin-bottom: 9px;
}
.email{
    display: none;
}
.email_prop{
    font-size: 12px;
    padding: 10px 20px;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #D3D3D3;
    border-radius: 7px;
    font-family: 'Poppins', sans-serif!important;
    margin-bottom: 9px;
}
button{
    background-color: transparent;
    border: 1px solid #D3D3D3;
    font-family: 'Poppins' , sans-serif;
    font-size: 13px;
    text-align: center;
    color:#787878;
    padding: 3px 5px;
    border-radius: 5px;
    display: block;
    margin: auto;
}
.logo{
    position: relative;
    z-index: 99;
}