*{
    padding: 0;
    margin: 0;
}
header{
    background-color: #181818;
    padding: 24px 0;
}
.container{
    max-width: 1200px;
    margin: auto;
}
header nav ul{
    display: flex;
    list-style: none;
    align-items:center;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
header nav li{
    margin-left: 32px;
    transition: 0.4s;
}
header nav li:hover{
    transform:scale(1.2);
}
header nav li:first-of-type a{
    font-size: 13px;
}
header nav li:first-of-type{
    margin-right: 24px;
}
header nav li:last-of-type a{
    color:#000000;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 20px;
}
/*main banner*/
.main_banner{
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom:71px;
    box-sizing: border-box;
}
.main_banner .container{
    max-width:580px;
    text-align: center;
    margin: inherit;
}
.main_banner .container h4{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 1px;
}
.main_banner .container h1{
    font-family: 'Poppins', sans-serif;
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;
    margin-bottom: 18px;
}
.main_banner .container p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
/*second banner*/
.second_banner{
    padding-top:113px;
    padding-bottom:140px;
    background-color:#000000;
}
.second_banner .block{
    max-width:1200px;
    text-align: center;
    margin: auto;
    margin-bottom:111px;
}
.second_banner .block h3{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom:15px;
}
.second_banner .block p{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;

}
.second_banner .ph_brands{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*third banner*/
.third_banner{
    padding-top:113px;
    padding-bottom:108px;
    background-color:#000000;
}
.third_banner .container{
    max-width:571px;
    margin: auto;
    text-align: center;
}
.third_banner .container h2{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom:15px;
}
.third_banner .container p{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    margin-bottom: 31px;
}
.third_banner .get_in_touch{
    background: #FFFFFF;
    border-radius: 14px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    text-decoration: none;
    padding: 5px 10px 5px 5px;
    display: inline-flex;
align-items: center}
.get_in_touch:before{
    display: inline-block;
    content:"";
    width: 32px;
    height: 32px;
    background-color: #000000;
    border-radius:50%;
    margin-right:6px;
}
.what_we_do{
    padding-top: 112px;
    padding-bottom: 100px;
    background-color:#000000;
}
.what_we_do .container{
    max-width: 1168px;
}
.what_we_do h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.what_we_do h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom:42px;
}
.d_flex_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.what_we_do .d_flex_container article{
    max-width: 576px;
    position: relative;

}
.what_we_do .d_flex_container img{
    display: block;
    width: 100%;
}
.what_we_do .d_flex_container article .description{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 30px 45px 30px 30px;
    box-sizing: border-box;
}
.what_we_do .description h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.what_we_do .description p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 20px;
}
.what_we_do .get_in_touch{
    background: #FFFFFF;
    border-radius: 14px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    text-decoration: none;
    padding: 5px 10px 5px 5px;
    display: inline-flex;
    align-items: center}


